.chat-container .chat {
    display: grid;
    column-gap: 5px;
    width: 100%;
    height: 80vh;
    grid-template-columns: 34% auto;
}
.chat-container .chat-list, .chat-container .conversation, .chat-container .creatGroupcontainer, .chat-container .joinGroupcontainer, .chat-container .addNewMember {
    backdrop-filter: blur(200px);
    border-radius: 10px;
    overflow-x: hidden;
    box-shadow: 0px 0px 5px -2px black;
}
.chat-container .chat-list {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0px 10px;
    position: relative;
}
.chat-container .chat-list .header-chat-list {
    display: flex;
    flex-direction: column;
    width: 100%;
}
.chat-container .chat-list .header-chat-list .filter-and-editbtn {
    display: grid;
    align-items: center;
    grid-template-columns: auto 10%;
}
.chat-container .chat-list .header-chat-list .filter-and-editbtn .filter-list-chat {
    font-size: 18px;
    padding: 10px;
    margin: 10px 10px;
    background: none;
    border-radius: 2px;
}
.chat-container .chat-list .header-chat-list .filter-and-editbtn .icon-creat-group {
    width: 30px;
    cursor: pointer;
}
.chat-container .chat-list .filter-chat-list {
    border: none;
    border-bottom: 1px solid #535c62;
}
.chat-container .chat-list .filter-chat-list .btns-filter {
    border-radius: 5px;
    width: max-content;
    margin: 4px 0px;
    padding: 3px 0px;
}
.chat-container .chat-list .list-item-chat {
    height: 50vh;
    width: 100%;
    overflow-x: hidden;
    overflow-y: auto;
    -ms-overflow-style: none;
    scrollbar-width: none;
}
.chat-container .chat-list .list-item-chat::-webkit-scrollbar {
    display: none;
}
.chat-container .chat-list .list-item-chat .block-user {
    display: flex;
    padding: 6px 10px;
    margin: 1.5px 10px;
    border-radius: 5px;
}
.chat-container .chat-list .list-item-chat .block-user .img-friend-chat {
    border-radius: 100px;
}
.chat-container .chat-list .list-item-chat .block-user .title-with-msg {
    margin: 4px 10px;
}
.chat-container .chat-list .list-item-chat .block-user .title-with-msg h2 {
    font-size: 12px;
}
.chat-container .chat-list .list-item-chat .block-user .title-with-msg p {
    font-size: 10px;
}
.chat-container .conversation {
    display: grid;
    grid-template-rows: 60px auto 50px;
}
.chat-container .conversation .header-chat {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0px 20px;
    border-bottom: 1px solid #535c62;
}
.chat-container .conversation .header-chat .img-header-user {
    display: flex;
    align-items: center;
}
.chat-container .conversation .header-chat .img-header-user .icon-return-list {
    display: none;
}
.chat-container .conversation .header-chat .img-header-user .img-conversation-friend {
    border-radius: 4px;
}
.chat-container .conversation .header-chat .img-header-user .title-with-check-isLogin {
    margin: 4px 10px;
}
.chat-container .conversation .header-chat .img-header-user .title-with-check-isLogin h2 {
    font-size: 12px;
}
.chat-container .conversation .header-chat .img-header-user .title-with-check-isLogin p {
    font-size: 10px;
}
.chat-container .conversation .header-chat .menu-chat-friend {
    display: inline-flex;
}
.chat-container .conversation .header-chat .menu-chat-friend .icons-header-chat {
    padding: 5px;
    margin: 4px;
    border-radius: 100%;
    border: #535c62 1px solid;
    cursor: pointer;
}
.chat-container .conversation .styles_scrollable-div__prSCv {
    flex-direction: column;
    display: flex;
    height: calc(70vh - 50px);
    overflow-x: hidden;
    overflow-y: auto;
    -ms-overflow-style: none;
    scrollbar-width: none;
}
.chat-container .conversation .styles_scrollable-div__prSCv::-webkit-scrollbar {
    display: none;
}
.chat-container .conversation .styles_scrollable-div__prSCv .r-block-message, .chat-container .conversation .styles_scrollable-div__prSCv .l-block-message {
    padding: 10px 20px;
    font-size: 14px;
}
.chat-container .conversation .styles_scrollable-div__prSCv .r-block-message .img-conversation-friend, .chat-container .conversation .styles_scrollable-div__prSCv .l-block-message .img-conversation-friend {
    width: 30px;
    border-radius: 4px;
    margin-right: 10px;
}
.chat-container .conversation .styles_scrollable-div__prSCv .m-l, .chat-container .conversation .styles_scrollable-div__prSCv .m-r {
    padding: 14px;
    border-radius: 8px 8px 0px 8px;
}
.chat-container .conversation .styles_scrollable-div__prSCv .m-l {
    background: #535c62;
    border-radius: 8px 8px 8px 0px;
}
.chat-container .conversation .styles_scrollable-div__prSCv .m-r {
    float: right;
    background: #0171d9;
}
.chat-container .conversation .styles_scrollable-div__prSCv .l-block-message {
    display: inline-flex;
    align-items: flex-end;
}
.chat-container .conversation .send-conversation {
    display: flex;
    justify-content: space-between;
    position: relative;
    align-items: center;
}
.chat-container .conversation .send-conversation .input-search {
    width: 80%;
    box-shadow: 0px 0px 9px -9px white;
    border-radius: 100px;
    border: none;
    background-color: #535c62;
    padding: 8px 58px 8px 24px;
    font-size: 18px;
    margin: auto;
}
.chat-container .conversation .send-conversation .input-search:focus-visible {
    outline: 1px solid;
}
.chat-container .conversation .send-conversation .btn-send {
    position: absolute;
    right: 4px;
    background: #0171d9;
    border-radius: 100%;
    border: #535c62 1px solid;
}
.chat-container .conversation .send-conversation .btn-send img.icon-send {
    margin: 9px 6px 8px 10px;
}
@media (max-width: 768px) {
    .chat-container .chat {
        display: grid;
        width: 100%;
        grid-template-columns: auto;
   }
    .chat-container .chat .hide-scope {
        display: none;
   }
    .chat-container .chat .conversation .header-chat {
        padding: 0;
   }
    .chat-container .chat .conversation .header-chat .img-header-user .icon-return-list {
        display: block;
        padding: 0px 12px;
   }
}
